@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Poppins:wght@100;200;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Sans-serif';
}

body{
    background-color: #ffff;
}

.logo{
    font-size: 33px;
}

.logo:hover{
    font-size: 35px;
    transition: 1s;
}

h1 a {
    color: white;
    text-decoration: none;
}

section, footer{
    padding: 54px 0px ;
}

p{
    color: #0000009c;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

header{
    padding-top: 40px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: white;
    margin: 0 25px;
    font-size: 16px;
    display: block;
    text-decoration: none;
}

nav ul a:not(.btn)::after{
    content: "";
    background-color: white;
    height: 2px;
    width: 0%;
    display: block;
    transition: .5s;
}

nav ul a:hover::after{
    width: 100%;

}

.banner h1, p{
    color: white;
}

.btn{
    background-color: #4f9cf9;
    color: white;
    padding: 15px 10px;
    border-radius: 10px;
    cursor: pointer;

    display: inline-block;
    text-decoration: none;
    transition: 0.2s;
}

.btn:hover{
    background-color: #3580db;
}

.banner{
    display: flex;
    justify-content: center;

}

.banner .banner-text{
    margin: 100px;
    text-align: center;
    padding: 0 90px;
}

.banner-text h1{
    font-size: 96px;
}

.banner-text p{
    font-size: 20px;
    color: #ffffffb7;
    margin: 18px 0px;
}

.more .container{
    display: flex;
    align-items: center;
}

.more-text h1, p{
    color: black;
}

.more .more-text{
    width: 50%;
    padding-left: 40px;
}

.more .more-text h1{
    font-size: 56px;
    text-shadow:rgba(0, 0, 0, 0.397) 0.1em 0.1em 0.2em;
}

.more .more-text p{
    font-size: 18px;
}

.more .more-img{
    width: 50%;
}

.more .more-img img{
    width: 100%;
}

.serviços{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.serviços h1{
    color: #ffffff;
    text-align: center;
    font-size: 56px;
}

.serviços p{
    margin-bottom: 20px;
    text-align: center;
    color: #ffff;
}

.cards{
    display: flex;
    justify-content: center;
}

.card-item p{
    color: #7f7d9e;
}

.card-item i{
    font-size: 60px;
    color: #7f7d9e;
}

.serviços .card-item{
    background-color: #03055e8f;
    margin: 15px;
    padding-top: 15px;
    border-radius: 14px;
    text-align: center;

    width: 350px;
    box-shadow: 1px 1px 10px 1px #0b0b3096;
    transition: 0.2s;
}

.serviços .card-item .service{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}

.serviços .card-item .service-description{
    font-size: 15px;
    padding: 0px 15px;
}

.serviços .card-item:hover{
    background-color: #0b0b30;
    margin-top: -5px;
}

.serviços .card-item:hover .service,
.serviços .card-item:hover i,
.serviços .card-item:hover .service-description{
    color: white;
    transition: 0.3;
}

.clientes h1, p{
    color: black;
    text-align: center;
}

.clientes h1{
    font-size: 56px;
    font-weight: bold;
}

.clientes p{
    margin-bottom: 30px;
    font-size: 20px;
}

div img{
    width: 200px;

}

.clientes .container div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
