@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Poppins:wght@100;200;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Sans-serif';
}

html{
    scroll-behavior: smooth;
}

html, body{
    overflow-x: hidden !important;
}

body{
    background-color: #ffff;
}

.logo{
    font-size: 33px;
}

.logo:hover{
    font-size: 35px;
    transition: 1s;
}

h1{
    text-shadow:rgba(0, 0, 0, 0.26) 0.1em 0.1em 0.2em;
}

h1 a {
    color: white;
    text-decoration: none;
}

section, footer{
    padding: 54px 0px ;
}

p{
    color: #0000009c;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

header{
    padding-top: 40px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul > a{
    color: white;
    margin: 0 25px;
    font-size: 18px;
    display: block;
    text-decoration: none;
}

nav > ul > a:not(.btn)::after{
    content: "";
    background-color: white;
    height: 2px;
    width: 0%;
    display: block;
    transition: .5s;
}

nav ul a:hover::after{
    width: 100%;

}

nav .menu-icon{
    color: white;
    cursor: pointer;
    font-size: 25px;
    display: none;
}

nav .close-icon{
    display: none;
    font-size: 30px;
    color: white;
}

.banner h1, p{
    color: white;
}

.btn{
    background-color: #4f9cf9;
    color: white;
    padding: 15px 10px;
    border-radius: 10px;
    cursor: pointer;

    display: inline-block;
    text-decoration: none;
    transition: 0.2s;
    margin-top: 20px;
}

.btn:hover{
    background-color: #275d9e;
}

.banner{
    display: flex;
    justify-content: center;

}

.banner .banner-text{
    margin: 100px;
    text-align: center;
    padding: 0 90px;
}

.banner-text h1{
    font-size: 96px;
}

.banner-text p{
    font-size: 20px;
    color: #ffffffb7;
    margin: 18px 0px;
}

#sobre .container{
    display: flex;
    align-items: center;
}

#sobre .more-text h1, p{
    color: black;
    text-align: left;
}

#sobre .more-text{
    width: 50%;
    padding-left: 0 40px;
}

#sobre .more-text h1{
    font-size: 56px;
}

#sobre .more-text p{
    font-size: 22px;
    margin: 5px 0 10px 0;
    text-align: justify;
}

#sobre .more-img{
    width: 50%;
}

#sobre .more-img img{
    width: 100%;
}

#sobre .more-text2 h1, p{
    color: black;
    text-align: left;
}

#sobre .more-text2{
    width: 50%;
    padding-left: 0 40px;
}

#sobre .more-text2 p{
    display: flex;
    align-items: center;
    font-size: 22px;
    margin: 5px 0 10px 0;
    text-align: justify;
}


#sobre .more-img2 .qrcode{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;

    box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.507);
    border-radius: 10px;
    margin-left: 70px;
    margin-bottom: 50px;
}

#sobre .more-img2{
    width: 50%;
}

#sobre .container{
    display: flex;
    align-items: center;
}

#sobre .more-tex3 h1, p{
    color: black;
}

#sobre .more-tex3{
    width: 50%;
    padding-left: 0 40px;
}

#sobre .more-text3 h1{
    font-size: 56px;
}

#sobre .more-text3 p{
    font-size: 22px;
    margin: 5px 0 10px 0;
    text-align: justify;
}

#sobre .more-img3{
    width: 50%;
}

#sobre .more-img3 img{
    width: 100%;
}

#serviços{
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#serviços h1{
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    margin-bottom: 20px;
}

#serviços p{
    margin-bottom: 20px;
    text-align: center;
    color: #ffff;
}

.cards{
    display: flex;
    justify-content: center;
}


.card-item i{
    font-size: 60px;
    color: #a1a0b4;
    margin-bottom: 10px;
}

#serviços .card-item{
    background-color: #03055ecb;
    margin: 15px;
    padding-top: 15px;
    border-radius: 14px;
    text-align: center;

    width: 350px;
    box-shadow: 1px 1px 10px 1px #0b0b30be;
    transition: 0.3s;
}

#serviços .card-item .service{
    font-weight: bolder;
    font-size: 22px;
    margin-bottom: 15px;
    color: #a1a0b4;
}

#serviços .card-item .service-description{
    font-size: 18px;
    padding: 0px 15px;
    color: #a1a0b4;
}

#serviços .card-item:hover{
    background-color: #03055e;
    margin-top: -5px;
}

#serviços .card-item:hover .service,
#serviços .card-item:hover i,
#serviços .card-item:hover .service-description{
    color: white;
    transition: 0.3s;
}

.clientes .container h1, p{
    color: black;
    text-align: center;
}

.clientes h1{
    font-size: 56px;
    font-weight: bold;
}

.clientes p{
    margin-bottom: 30px;
    font-size: 20px;
}

div img{
    width: 200px;
}

.clientes .container div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer{
    background-color: #0b0b30;
    text-align: center;
    color: white;
}

.footer i{
    font-size: 19px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color: #0b0b30;
    font-size: 25px;
    margin: 0px 15px;
}

.links h1{
    display: inline-flex;
}

.footer i:hover{
    transition: .22s;
    box-shadow: 0px 0px 10px 3px white;
}

.footer p{
    margin-top: 20px;
    color: white;
    font-size: 20px;
}

.links > p > a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

@media(max-width:500px){ 
    header {
        padding: 0;
    }

    header .container{
        background-color: #0b0b30;
        padding: 0 5%;
    }

    header .container nav{
        padding-top: 40px;
    }

    .banner-text h1{
        font-size: 55px;
    }

    .banner-text p{
        font-size: 15px;
    }

    #sobre .container{
        display: block;
        align-items: center;
        text-align: center;
    }

    #sobre .more-text {
        width: 100%;
    }

    #sobre .more-text h1{
        text-align: center;
    }

    #sobre .more-text p{
        font-size: 20px;
        padding: 40px 0px;
        text-align: center;
    }

    #sobre .more-img{
        width: 100%;
    }

    #sobre .more-img2{
        display: block;
        margin: auto;
    }

    #sobre .more-img2 .qrcode{
        width: 100%;
        margin: 0 auto;
    }

    #sobre .more-text2 {
        width: 100%;
    }

    #sobre .more-text2 p{
        text-align: center;
        font: 20px;
        padding: 40px 0px;
        margin-top: 25px;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #serviços {
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    #serviços .container{
        background-color: #0b0b30;
        padding: 20px 5%;
        justify-content: center;
        align-items: center;
    }

    #serviços .card-item{
        width: 350px;
        background-color: #03055e;
    }

    #serviços .card-item i{
        color: #ffff;
    }

    #serviços .card-item .service{
        font-weight: bolder;
        font-size: 20px;
        margin-bottom: 15px;
        color: #ffff;
    }

    #serviços .card-item .service-description {
        font-size: 16px;
        padding-bottom: 20px;
        color: #ffff;
    }

    #serviços .card-item:hover{
        background-color: #03055e;
        margin-top: 15px;
    }

    div img{
        width: 250px;
        margin-top: 30px;
    }

    .clientes .container p{
        padding: 20px 0px;
    }

    .clientes .container div{
        display: block;
        line-height: 50px;
        text-align: center;
    }

    #sobre .more-text3 h1{
        margin-bottom: 30px;
    }
    
    #sobre .more-text3 p{
        text-align: center;
        font-size: 22px;
    }

    #sobre .more-img3{
        width: 100%;
        margin-top: 20px;
    }

    .btn{
        width: 200px;
        height: 30px;
        font-size: 20px;
        text-align: center;
    }
    
    
}

@media(max-width: 700px){
    .ul{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0b0b30;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 0.7s;
    }

    .ul.open{
        clip-path: circle(141.4% at 100% 0);
    }

    .ul a{
        margin: 20px 0px;
        font-size: 20px;
    }

    nav .menu-icon{
        display: block;
    }

    nav .close-icon{
        display: block;
        position: absolute;
        top: 44px;
        right: 32px;
        cursor: pointer;
    }
}